.app {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
  flex: 1;
}

.toolbar {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 0 20px 0;
  border-bottom: 4px dotted var(--accent-2);
}

.button {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #0d6efd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: var(--primary-color);
  font-family: var(--font-press-start);
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  background-color: var(--secondary-color);
  display: block;
  position: relative;
  padding: 8px 24px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 rgba(59, 129, 131, 0.4);
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 rgba(59, 129, 131, 0.4);
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 rgba(59, 129, 131, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button:active {
  top: 10px;
  background-color: #f3d34a;
  color: var(--accent-2);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button:active::after {
  bottom: -5px;
}

.button:hover {
  color: var(--accent-2);
}
